#root {
    /* max-width: 1280px; */
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    background: #f2f2f2;
    font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f2f2f2;
}

.user-msg-txt {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.custom-hight {
  height: calc(100% - 135px);
}
